<section class="slice-sm sct-color-1">
                        <div class="profile">
                            <div class="container">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-4">
                                        <div class="sidebar sidebar--style-2 no-border">
                                            <div class="widget">
        <!-- Profile picture -->
        <div class="profile-picture profile-picture--style-2">
            <%= image_tag 'https://s3.eu-west-3.amazonaws.com/projet.thp.boutique.en.ligne/profile/default-avatar.jpg', :class=> "img-center"%>
            <a href="#" class="btn-aux">
                <i class="ion ion-edit"></i>
            </a>
        </div>
        <!-- Profile details -->
        <div class="profile-details">
            <h2 class="heading heading-4 strong-500 profile-name"><%= @user.name %></h2>

        </div>


    </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div class="main-content">
                                            <!-- Page title -->
                                            <div class="page-title">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-12">
                                                        <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                                            <a href="#" class="link text-underline--none">
                                                                <i class="ion-ios-arrow-back"></i> Commandes passées
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-6 col-12">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="link-menu link-menu--style-3 py-4 border-bottom">

                                                <%= link_to "Données", user_path(current_user.id) %>
                                                <%= link_to "Modifier vos données", edit_user_registration_path(current_user.id) %>
                                                <%= link_to "Commandes", users_order_path(current_user.id) %>
                                            </div>

                                            <!-- Order history table -->
                                            <div class="card no-border">
                                                <div>
                                                    <table class="table table-sm table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>ID de commande</th>
                                                                <th>Date</th>
                                                                <th>Montant</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                                <% Order.where(user_id: current_user.id).each do |order|%>
                                                            <tr>
                                                                <td>
                                                                    <%= order.id %>
                                                                </td>
                                                                <td>
                                                                    <%= order.created_at %>
                                                                </td>
                                                                <td>
                                                                    <%= order.total_cents %>
                                                                </td>
                                                            </tr>
                                                            <% end -%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


