<main class="body-wrap">
    <!--    BANNER        -->

    <div class="container-banner">

      <%= image_tag 'banner-img1.jpg', :class => 'banner-img'%>

      <div class="centered">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <h1>
          BIENVENUE SUR PICTUR'ART
        </h1>

          <div class="lead mt-3 mb-3">
            Acheter des oeuvres, contribuer au travail d'un artiste
          </div>

        <div class="btn-container">
          <a href="#product-list" class="btn btn-styled btn-base-1">Liste des produits !</a>
        </div>
      </div>
    </div>
    <!--    Images        -->
    <div class="container" id="product-list">
      <div class="row align-items-center mb-4">
        <div class="col-md-6">
          <div class="text-center text-md-left">
            <h3 class="heading heading-8 strong-600 text-capitalize">
              Liste des produits
            </h3>
          </div>
        </div>
      </div>

      <div class="row-wrapper">
        <div class="row cols-xs-space cols-md-space cols-md-space">
          <% @items.each do |item| %>
            <div class="col-lg-3 col-md-6">
              <div class="block product no-border z-depth-2--hover">
                <div class="block-image">
                 <%= link_to (image_tag item.image_url), item %>
                </div>

                <div class="block-body pt-0 text-center">
                  <h3 class="heading heading-6 strong-500 text-capitalize">
                    <%= link_to item.title, item %>
                  </h3>
                  <div class="price-wrapper mt-2">
                    <span class="price heading-6 c-gray-dark strong-500">
                    <span class="price-value"><%= humanized_money_with_symbol(item.price_cents) %>
                    </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
